@{
    ViewBag.Title = "Print";
}
<!DOCTYPE html>
<html>
<head>
    <title>打印表单</title>
    <link href="~/Scripts/FlowRun/Forms/flowform_print.css" rel="stylesheet" />
    <style type="text/css" media="print">
        .Noprint {
            display: none;

        }

        .print{
            font-family:"宋体";
            font-size:5px;

        }

               
    </style>
</head>
<body>
    <div id="buttondiv" class="Noprint" style="margin-left:20px;">
        <button onclick="print1();" style="margin-right:6px;">确认打印</button>
        <button onclick="window.close();">取消关闭</button>
    </div>
    <div>
        <script type="text/javascript">
            if (window.opener.document.getElementById("printbody"))
            {
                document.write(window.opener.document.getElementById("printbody").outerHTML);
            }
            else
            {
            document.write(window.opener.document.getElementById("form_body_div").outerHTML);
            }
            
        </script>
    </div>
    <div id="commentdiv">
        <script type="text/javascript">
            document.write(window.opener.document.getElementById("form_commentlist_div").outerHTML);
        </script>
    </div>

    <div id="Petition" style="display: none" class="print">

        <div id="PetitionHead">

        <div style="text-align:center; font-size:24px;">上海市医疗保险经办来访登记表</div>
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family: 宋体; font-size: 16px;">来访日期：<script>document.write(window.opener.document.getElementById("TempTest_CustomForm_VisitDate").value)</script> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;     信访编号：<script >    document.write(window.opener.document.getElementById("TempTest_CustomForm_VisitCode").value)</script></span>

        <table cellpadding="0" cellspacing="0" border="1"  width="100%" align="center">
            <tr style="height:45px">

                <td align="center"><span style="font-family: 宋体; font-size: 16px;">来访人姓名</span></td>
                <td align="center">
                    <span style="font-family: 宋体; font-size: 16px;">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_VisitName").value)</script>
                    </span>
                </td>
                <td align="center"><span style="font-family: 宋体; font-size: 16px;">性别</span></td>
                <td align="center">
                    <span style="font-family: 宋体; font-size: 16px;">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_VisitSex").value)</script>
                    </span>
                </td>
                <td align="center"><span style="font-family: 宋体; font-size: 16px;">年龄</span></td>
                <td align="center">
                    <span style="font-family: 宋体; font-size: 16px;">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_VisitAge").value)</script>
                    </span>
                </td>
                <td align="center"><span style="font-family: 宋体; font-size: 16px;">身份证号码</span></td>
                <td align="center">
                    <span style="font-family: 宋体; font-size: 16px;">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_VisitID").value)</script>
                    </span>
                </td>

            </tr>
            <tr style="height:45px">

                <td width="15%" align="center"><span style="font-family: 宋体; font-size: 16px;">涉及人姓名</span></td>
                <td width="15%" align="center">
                    <span style="font-family: 宋体; font-size: 16px;">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_OtherName").value)</script>
                    </span>
                </td>
                <td width="5%" align="center"><span style="font-family: 宋体; font-size: 16px;">性别</span></td>
                <td width="5%" align="center">
                    <span style="font-family: 宋体; font-size: 16px;">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_OtherSex").value)</script>
                    </span>
                </td>
                <td width="5%" align="center"><span style="font-family: 宋体; font-size: 16px;">年龄</span></td>
                <td width="5%" align="center">
                    <span style="font-family: 宋体; font-size: 16px;">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_OtherAge").value)</script>
                    </span>
                </td>
                <td width="15%" align="center"><span style="font-family: 宋体; font-size: 16px;">身份证号码</span></td>
                <td width="25%" align="center">
                    <span style="font-family: 宋体; font-size: 16px;">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_OtherID").value)</script>
                    </span>
                </td>

            </tr>
            <tr style="height:45px">

                <td align="center"><span style="font-family: 宋体; font-size: 16px;">联系地址</span></td>
                <td align="center" colspan="5">
                    <span style="font-family: 宋体; font-size: 16px;">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_Address").value)</script>
                    </span>
                </td>
                
                <td align="center"><span style="font-family: 宋体; font-size: 16px;">联系电话</span></td>
                <td align="center">
                    <span style="font-family: 宋体; font-size: 16px;">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_Tel").value)</script>
                    </span>
                </td>

            </tr>
            <tr style="height:45px">

                <td align="center"><span style="font-family: 宋体; font-size: 16px;">单位</span></td>
                <td align="center" colspan="2">
                    <span style="font-family: 宋体; font-size: 16px;">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_Unit").value)</script>
                    </span>
                </td>
                <td align="center" colspan="2"><span style="font-family: 宋体; font-size: 16px;">联系人</span></td>
                <td align="center" colspan="3">
                    <table width="100%" cellpadding="0" cellspacing="0"  style="border:hidden" >
                        <tr style="height:45px">
                            <td align="center" width="30%" style="border-right:1px solid;">
                                <span style="font-family: 宋体; font-size: 16px;">
                                    <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_ContactName").value)</script>
                                </span>
                            </td>
                            <td width="30%" align="center" style="border-right:1px solid;"><span style="font-family: 宋体; font-size: 16px;">电话</span></td>
                            <td width="40%" align="center" style="border-right:hidden">
                                <span style="font-family: 宋体; font-size: 16px;">
                                    <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_ContactTel").value)</script>
                                </span>
                            </td>
                        </tr>
                    </table>
                    
                </td>
                

            </tr>

            <tr style="height:45px">

                <td align="center"><span style="font-family: 宋体; font-size: 16px;">来访情况</span></td>
                <td align="left" colspan="7">
                    <span style="font-family: 宋体; font-size: 16px;">
                        <script style="text-decoration:underline">
                            var obj = window.opener.document.getElementsByName("TempTest_CustomForm_VisitSituation"); //selectid
                            var visit="";
                            for (var i = 0; i < obj.length; i++)
                            {
                                if (obj[i].checked)
                                    visit = obj[i].nextSibling.textContent.toString();
                            }
                            

                            document.write(visit)
                            </script>
                    </span>
                </td>

                

            </tr>

            <tr style="height:45px">

                <td align="center"><span style="font-family: 宋体; font-size: 16px;">来访事项</span></td>
                <td align="left" colspan="7">
                    <span style="font-family: 宋体; font-size: 16px;">
                        <script style="text-decoration:underline">
                            document.write(window.opener.document.getElementById("TempTest_CustomForm_VisitMattersRemark").value); //selectid

                            </script>
                    </span>
                </td>

                

            </tr>
            <tr style="height:300px">
                <td colspan="8" align="left">
                    <table width="100%" cellpadding="0" cellspacing="0" style="border:hidden;vertical-align:text-top">
                        <tr style="height:45px"><td><span style="font-family: 宋体; font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;来访记录：</span></td></tr>
                        <tr style="height:45px">
                            <td>
                                <span style="font-family: 宋体; font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <script >document.write(window.opener.document.getElementById("TempTest_CustomForm_VisitRecordRemark").value)</script>
                                </span>
                            </td>
                        </tr>
                        <tr style="height:45px">
                            <td align="right">
                                <span style="font-family: 宋体; font-size: 16px;">
                                    来访人签字：___________________________________
                                </span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr style="height:200px">
                <td colspan="8" align="left">
                    <table width="100%" cellpadding="0" cellspacing="0" style="border:hidden">

                        <tr style="height:45px">
                            <td width="100%">
                                <span style="font-family: 宋体; font-size: 16px;">
                                    处理结果：
                                    <script>document.write(window.opener.document.getElementById("DealResult").innerHTML)</script>
                                </span>
                            </td>
                        </tr>
                        <tr style="height:45px">
                            <td>
                                <span style="font-family: 宋体; font-size: 16px;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    按沪医保中心【2012】87 号 文 本市医保经办信访中常见的特殊事项
                                    </span>
                            <td>
                        </tr>
                        <tr style="height:45px">
                            <td>
                                <span style="font-family: 宋体; font-size: 16px;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <script>
                                        var obj = window.opener.document.getElementById("TempTest_CustomForm_VisitMatters"); //selectid

                                        var index = obj.selectedIndex; // 选中索引

                                        var text = obj.options[index].text; // 选中文本

                                        document.write(obj.options[index].text)</script> &nbsp;&nbsp;&nbsp;&nbsp;予以个案处理
                                </span>
                            </td>
                        </tr>
                        <tr style="height:45px">
                            <td>
                                <span style="font-family: 宋体; font-size: 16px;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;此次受理报销作为个案一次性办理，今后不再发生类似情况
                                </span>
                            </td>
                        </tr>

                        <tr style="height:45px">
                            <td align="center">
                                <span style="font-family: 宋体; font-size: 16px;">
                                    值班长签字：___________________________________      工作人员签字：___________________________________
                                </span>
                            </td>
                        </tr>
                    </table>
        
                </td>
            </tr>

        </table>
        <div style="height:45px"><span style="font-family: 宋体; font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;备注：此表应在接待来访人员时填写</span></div>
</div>

       
             
            
            
            

        <div id="splitpager" style="page-break-after:auto; visibility:hidden"></div>
        <table id="notice1">
            <tr>
                <td align="right" colspan="2">
                    编号:<span style="text-decoration:underline">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_VisitCode").value)</script>
                    </span>

                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <span style="font-family: 宋体; font-size: 24px;">信访登记告知单</span>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <span style="font-family: 宋体; font-size: 16px;">（第一联 医保中心留）</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您于<span style="text-decoration:underline">
                        <script>document.write(window.opener.document.getElementById("TempTest_CustomForm_VisitDate").value)</script>
                    </span>闵行区医保中心<span style="text-decoration:underline">
    <script>
    var obj = window.opener.document.getElementById("TempTest_CustomForm_VisitMatters"); //selectid

    var index = obj.selectedIndex; // 选中索引

    var text = obj.options[index].text; // 选中文本

    document.write(obj.options[index].text)</script></span>
</td>
            </tr>
            <tr>
                <td>
                    委托人：<span style="text-decoration: underline">
                        <script>document.write(window.opener.document.getElementById("TempTest_CustomForm_VisitName").value)</script>
                    </span>

                </td>
                <td>
                    身份证号：
                    <span style="text-decoration:underline">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_VisitID").value)</script>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    参保人：
                    <span style="text-decoration:underline">
                        <script style="text-decoration:underline">
                            var showvisitor;
                            if (window.opener.document.getElementById("TempTest_CustomForm_OtherName").value == "") {
                                showvisitor = window.opener.document.getElementById("TempTest_CustomForm_VisitName").value;
                            }
                            else {
                                showvisitor = window.opener.document.getElementById("TempTest_CustomForm_OtherName").value;
                            }
                            document.write(showvisitor);
                        </script>
                    </span>
                </td>
                <td>
                    身份证号：
                    <span style="text-decoration:underline">
                        <script style="text-decoration:underline">
                            var showvisitorId;
                            if (window.opener.document.getElementById("TempTest_CustomForm_OtherID").value == "") {
                                showvisitorId = window.opener.document.getElementById("TempTest_CustomForm_VisitID").value;
                            }
                            else {
                                showvisitorId = window.opener.document.getElementById("TempTest_CustomForm_OtherID").value;
                            }
                            document.write(showvisitorId);
                        </script>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    信访发票张数：
                    <span style="text-decoration:underline">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_VoiceNum").value)</script>
                    </span>
                </td>
                <td>
                    收复印件发票张数：
                    <span style="text-decoration:underline">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_VoiceCopyNum").value)</script>
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    发票金额：
                    <span style="text-decoration:underline">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_VoiceAccount").value)</script>
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    现将相关事项告知如下：<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、自登记之日起，经相关审批程序且需10个工作日后进入信访受理及医药费报销流程，预约办理时间为
                    <span style="text-decoration:underline">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_PreDate").value)</script>
                    </span>
                    按时前来办理。<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、妥善保管医疗费原始收据及相关资料是参保人员的责任，此次受理报销作为个案一次性办理，今后不再发生类似情况。<br>
                    注：办理时先在门口取号机上取“个人业务”号，再到16号凭告知单取信访单。
                    报销时需携带参保人身份证（小孩需携带户籍薄）、医保卡、发票及相关病历、出院小结和明细清单，委托人还需提供委托人身份证，参保人银行卡。<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight:bold">是否予以受理及具体报销金额，以医保专业审核和现场结算后为准。</span><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上述告知已知晓，参保人或被委托人签字确认：
                </td>
            </tr>
            <tr><td colspan="2" align="right">
            <script>document.write(window.opener.document.getElementById("TempTest_CustomForm_VisitDate").value)</script></td></tr>
        </table>

        <table id="notice2">
            <tr>
                <td align="right" colspan="2">
                    编号:<span style="text-decoration:underline">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_VisitCode").value)</script>
                    </span>

                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <span style="font-family: 宋体; font-size: 24px;">信访登记告知单</span>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <span style="font-family: 宋体; font-size: 16px;">（第二联 参保人留）</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您于<span style="text-decoration:underline">
                        <script>document.write(window.opener.document.getElementById("TempTest_CustomForm_VisitDate").value)</script>
                    </span>闵行区医保中心<span style="text-decoration:underline">
                        <script>
                            var obj = window.opener.document.getElementById("TempTest_CustomForm_VisitMatters"); //selectid

                            var index = obj.selectedIndex; // 选中索引

                            var text = obj.options[index].text; // 选中文本

                            document.write(obj.options[index].text)</script>
                    </span> 费用报销
                </td>
            </tr>
            <tr>
                <td>
                    委托人：<span style="text-decoration: underline">
                        <script>document.write(window.opener.document.getElementById("TempTest_CustomForm_VisitName").value)</script>
                    </span>

                </td>
                <td>
                    身份证号：
                    <span style="text-decoration:underline">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_VisitID").value)</script>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    参保人：
                    <span style="text-decoration:underline">
                        <script style="text-decoration:underline">
                            var showvisitor;
                            if (window.opener.document.getElementById("TempTest_CustomForm_OtherName").value == "") {
                                showvisitor = window.opener.document.getElementById("TempTest_CustomForm_VisitName").value;
                            }
                            else {
                                showvisitor = window.opener.document.getElementById("TempTest_CustomForm_OtherName").value;
                            }
                            document.write(showvisitor);
                        </script>
                    </span>
                </td>
                <td>
                    身份证号：
                    <span style="text-decoration:underline">
                        <script style="text-decoration:underline">
                            var showvisitorId;
                            if (window.opener.document.getElementById("TempTest_CustomForm_OtherID").value == "") {
                                showvisitorId = window.opener.document.getElementById("TempTest_CustomForm_VisitID").value;
                            }
                            else {
                                showvisitorId = window.opener.document.getElementById("TempTest_CustomForm_OtherID").value;
                            }
                            document.write(showvisitorId);
                        </script>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    信访发票张数：
                    <span style="text-decoration:underline">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_VoiceNum").value)</script>
                    </span>
                </td>
                <td>
                    收复印件发票张数：
                    <span style="text-decoration:underline">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_VoiceCopyNum").value)</script>
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    发票金额：
                    <span style="text-decoration:underline">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_VoiceAccount").value)</script>
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    现将相关事项告知如下：<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、自登记之日起，经相关审批程序且需10个工作日后进入信访受理及医药费报销流程，预约办理时间为
                    <span style="text-decoration:underline">
                        <script style="text-decoration:underline">document.write(window.opener.document.getElementById("TempTest_CustomForm_PreDate").value)</script>
                    </span>
                    按时前来办理。<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、妥善保管医疗费原始收据及相关资料是参保人员的责任，此次受理报销作为个案一次性办理，今后不再发生类似情况。<br>
                    注：办理时先在门口取号机上取“个人业务”号，再到16号凭告知单取信访单。
                    报销时需携带参保人身份证（小孩需携带户籍薄）、医保卡、发票及相关病历、出院小结和明细清单，委托人还需提供委托人身份证，参保人银行卡。<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight:bold">是否予以受理及具体报销金额，以医保专业审核和现场结算后为准。</span><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上述告知已知晓，参保人或被委托人签字确认：
                </td>
            </tr>
            <tr><td colspan="2" align="right">
            <script>document.write(window.opener.document.getElementById("TempTest_CustomForm_VisitDate").value)</script></td></tr>
        </table>
    </div>



    <script type="text/javascript">
        function print1() {


            var obj = window.opener.document.getElementById("TempTest_CustomForm_VisitMatters"); //selectid

            var index = obj.selectedIndex; // 选中索引

            var text = obj.options[index].text; // 选中文本
            if (text == "更换就医凭证未带有效证件（记录册）") {
                document.getElementById('notice1').style.display = 'none';
                document.getElementById('notice2').style.display = 'none';
            }
            else {
                document.getElementById('PetitionHead').style.display = 'none';
                
            }



           // alert(window.opener.document.getElementById("TempTest_CustomForm_VisitCode"));
            if (window.opener.document.getElementById("TempTest_CustomForm_VisitCode") !=null)
            {
               // document.write("<div id='splitpager' style='page-break-before: always; visibility: hidden'></div>");
                var div = document.getElementById('Petition');
                div.style.display = "block"

                var splitpage = document.getElementById('splitpager');
               // splitpage.style.visibility
                
              //  document.write(div.outerHTML);
                
                var divprint = document.getElementById('printbody');
                divprint.style.display = "none";
               
            }

            
            window.print();

           
        }
    </script>
</body>
</html>
