@{
    Page.CheckApp = false;
    ViewBag.Title = "用户手册";
}

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../../Content/Theme/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="../../Content/Theme/manualstyle.css" rel='stylesheet' type='text/css' />
<link href='http://fonts.useso.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<script src="../../js/jquery-1.11.0.min.js"></script>


<body>
    <div class="header" id="home">
        <div class="container">
            <div class="logo">
                <a href="index.html"><img src="../../images/logo3.png" alt=""></a>
            </div>
            <!--start-top-nav-->
            <nav class="top-nav">
            </nav>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--End-header-->
    <!--start-search-->
    <div class="search">
        <div class="container">
        </div>
    </div>
    <!--End-search-->
    <!--start-lorem-->
    <div class="lorem">
        <div class="container">
            <div class="lorem-top">
                <div class="lorem-top-left">
                    <h3>机构简介：</h3>
                    <img src="../../images/add.png" alt="">
                    <p></p>
                    <h4>机构职责：</h4>
                    <p>
                        负责区内医保具体经办工作；负责对全区医药机构日对帐及对计划生育、家庭病床、门诊大病、住院高额费用监管审查；负责对全区参加互助帮困、居保、大学生纳保的审核；负责对全区16个医保服务点的业务指导和各项管理等工作。
                    </p><p></p><h4>办公地址：</h4><p>水清路530-546号（报春路口）</p><p></p>
                    <h4>联系电话：</h4><p>54135063</p>
                    <p>负责人：李强</p><p></p><h4>出勤时间：</h4>
                    <p>上午  8：30---------11：30
                    <p>下午  13：00--------16：30</p>
                    <p>夏令时   13：30------------16：30</p>
                    <div class="tool">
                        <a class="tooltip-inner" href="">
                            <span>阅读更多...</span>
                        </a>
                    </div>
                </div>
                <div class="lorem-middle">
                    <div class="lorem-middle-top">
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <!--End-lorem-->
    <!--start-footer-->
    <div class="footer">
        <div class="container">
            <div class="footer-main">
                <div class="col-md-12 footer-left">
                    <p>Copyright &copy; 2015. 上海智协网络工程有限公司 All rights reserved.</p>
                </div>
            </div>
        </div>
        </div>
</body>

